.Gynecology .benefits .wrapper {
  padding: 15px 0;
}

.Gynecology .benefits {
  font-family: main;
}

.Gynecology .benefits h2 {
  font-family: sans-serif;
}

.Gynecology .benefits h2 {
  color: #222f66;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 125.4%; /* 45.144px */
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
