.price-list .wrapper {
  background: #eee;
}

.price-list .wrapper .item div {
  color: #222f66;
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 136.842% */
}

.price-list .wrapper .right,
.price-list .wrapper .left {
  flex: 1;
}

.price-list .wrapper p {
  color: #222f66;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.price-list .wrapper .item {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0;
}

.price-list .wrapper .item .breakLine {
  flex: 1;
  border-bottom: 2px dotted lightgray;
}

.LaserHairRemoval .services .item {
  width: 280px;
}

.LaserHairRemoval .services .item img {
  width: 100%;
  object-fit: cover;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.LaserHairRemoval .services .item h2 {
  color: #222f66;
  font-family: PT Serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 159.4%; /* 31.88px */
  text-transform: capitalize;
}

.LaserHairRemoval .services .item p {
  color: #606060;
  font-family: PT Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 159.4%; /* 23.91px */
  text-transform: capitalize;
}
