/* Blogs */

.blogs .slick-dots {
  bottom: -25px !important;
}

.blogs .card h3 {
  margin: 15px 0;
  color: #222f66;
  font-family: PT Serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 159.4%; /* 31.88px */
  text-transform: capitalize;
}

.blogs .card p {
  margin: 12px 0;
  color: #606060;
  font-family: PT Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 159.4%; /* 23.91px */
  text-transform: capitalize;
}

.blogs .card button {
  width: 127px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #222f66;
  background: white;
  color: #222f66;
  font-family: PT Serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 159.4%; /* 23.91px */
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

.blogs .card button:hover {
  background: #222f66;
  color: #fdb61c;
}

.blogs .slick-arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white !important;
}

.blogs .info h3,
.blogs .info-details h3 {
  margin: 25px 0;
  color: #3f3d3d;
  text-align: justify;
  font-family: PT Sans;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 108.696% */
  text-transform: capitalize;
}

.blogs .info-details .left {
  flex: 2;
}
.blogs .info-details .right {
  flex: 1;
}

.blogs .info p,
.blogs .info-details p {
  color: #606060;
  font-size: 16px;
  margin: 15px 0;
}

.blogs .slick-prev,
.blogs .slick-next {
  top: 180px;
}

@media (max-width: 600px) {
  .blogs .slick-prev {
    left: -10px;
    z-index: 10;
  }

  .blogs .slick-next {
    right: -10px;
  }
}
