.BBLHero .deffirent-treatements h2 {
  color: #222f66;
  font-family: PT Serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.BBLHero .deffirent-treatements span {
  color: #daa900;
}
